h1 {
  color: black;
  text-align: center;
  font-family: Arial;
  font-size: 300%;
}
#coolDiv {
  background-color: #BFBFBF;
  padding:20px;
  margin:30px auto;
  max-width:70%;
  border:1px solid #000; 
  text-align:center; 
  border-radius:5px;
}
#test1 {
  font-family: Arial;
  background-color: #BFBFBF;
  padding:20px;
  margin:30px auto;
  max-width:70%;
  border:1px solid #000;
  border-radius:5px;
}
.flexbox {
    display: flex;
}
#image1 {
  background-color: #ffe0b3;
  padding:20px;
  margin: 20px;
  border:2px solid #ff9900; 
  border-radius:5px;
}
#image2 {
  background-color: #5ac4f6;
  padding:20px;
  margin: 20px;
  border:2px solid #3788ad; 
  border-radius:5px;
}
#test1-text1 {
  flex-direction: column;
  font-family: Helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  background-color: #DFDFDF;
  padding: 20px;
  margin: 20px;
  max-width:70%;
  border:1px solid #000; 
  border-radius:5px;
  height: 282px;
}
#test1-text2 {
  flex-direction: column;
  font-family: Helvetica;
  display: flex;
  flex: 1;
  align-items: center;
  text-align: center;
  font-size: 20px;
  background-color: #DFDFDF;
  padding: 20px;
  margin: 20px;
  max-width:70%;
  border:1px solid #000; 
  border-radius:5px;
  height: 154px;
}
p {
  font-family: Arial;
}
/*I hope this works!*/
/*It says it's working but it is not*/
/*why are the checks cancelled idk why*/
